<!DOCTYPE html>
<html layout:decorate="~{layout/usrLayout.html}">

<head>
    <title>마이페이지</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-upload container mx-auto">

        <div class="w-full px-2 pt-4">

            <h1 class="font-bold text-lg flex mb-2">
                <i class="fa-solid fa-user text-icon"></i>
                <span class="ml-[2px]">
                    마이페이지
                </span>
            </h1>

            <div>구현중...</div>

        </div>
    </section>
</main>

</body>
</html>